python-dotenv
langchain
langsmith
langgraph
pydantic
groq
google-genai
uvicorn
litellm
guardrails-ai
jsonschema
sqlalchemy
psycopg2-binary
alembic
beautifulsoup4
lxml
selectolax
pandas
numpy
requests
logfire
pyarrow 
reportlab
pytest
pydantic-settings
prometheus-client
pyright
langchain-groq
datetime
tavily-python
praw
